<div class="footer">
  <p><img src="https://vignette.wikia.nocookie.net/halo/images/7/78/Illuminati-Logo.png/revision/latest?cb=20160902152324&amp;path-prefix=es" width="16"
     height="16"> Created at Conspiracy Tea-ory. All rights reserved. <img src="https://vignette.wikia.nocookie.net/halo/images/7/78/Illuminati-Logo.png/revision/latest?cb=20160902152324&amp;path-prefix=es" width="16"
     height="16"></p>
</div>
