// Specific CSS for your home-page
#map {
  height: 100vh;
}

.card-theorist {
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // align-items: flex;
}

.image-rating-card{
  height: 150px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.card-theorist h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-theorist p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-theorist .card-theorist-infos {
  padding: 16px;
  display: flex wrap;
  justify-content: space-between;
  align-items: flex;
  padding-left: 3%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 1%;
  text-decoration: none;
}

.rating-and-price{
  justify-content: space-between;
  display: flex;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
}

.grid {
  display: grid;
  justify-items: stretch;
  // grid-template-columns: repeat(auto-fit, minmax(3, 4));
  grid-template-columns: 1fr 1fr 1fr;
  // -moz-column-gap: 10px;
  column-gap: 15px;
  row-gap: 15px;
  background-color: rgb(156, 111, 111);
  border-color: black;
}

.title {
  padding-top: 3%;
  padding-bottom: 3%;
}


@media only screen and (min-width: 1300px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width : 995px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width : 580px) {
  .grid {
    grid-template-columns: 1fr;
  }
