<h1>all bookings for <%= @theorist.stage_name %></h1>
<%# <% raise %>
<div class="booking-cards">
  <% @bookings.each do |booking| %>
    <div class="booking-card m-2">
      <p>Booking from <%= booking.start_date %> <%= booking.end_date %></p>
      <%= link_to "see booking", theorist_booking_path(@theorist, booking) %>
    </div>
  <% end %>
</div>
